// 如果你需要使用 cube-ui 自带的颜色值 需要 require 进来
// @require "~cube-ui/src/common/stylus/var/color.styl"

$theme-bule-color = #25abee

// radio
// radio hollow
$radio-hollow-selected-icon-color := $theme-bule-color

// dialog
$dialog-btn-highlight-color := $theme-bule-color

// picker
$picker-confirm-btn-color := $theme-bule-color

// input
$input-focus-border-color := $theme-bule-color

//textarea
$textarea-border-color := #ccc
$textarea-focus-border-color := $theme-bule-color

// select
$select-border-active-color := $theme-bule-color

// checkbox-group
$checkbox-checked-icon-color := $theme-bule-color




